<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Laboratorio de Contenidos de Marca - La Tercera</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Laboratorio de Contenidos de Marca - La Tercera" />
    <meta property="og:description" content="Creamos contenido y experiencias que impactan audiencias. Atraemos lectores y generamos conversación."
    />
    <meta property="og:url" content="https://www.latercera.com/" />
    <meta property="og:site_name" content="La Tercera" />
    <meta property="fb:app_id" content="1890042961024301" />
    <meta property="og:image" content="http://s2.latercera.com/wp-content/uploads/2018/01/share-fb-la-tercera.png" />
  </head>
  <body>
    <noscript>
      <strong>Necesitas Javascript</strong>
    </noscript>
    <div id="app"></div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122827410-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-122827410-1');
    </script>
  </body>
</html>
