<template lang="pug">
  .home
    JumboContacto
</template>

<script>
import JumboContacto from '@/components/JumboContacto.vue'

export default {
  name: 'home',
  components: {
    JumboContacto
  }
}
</script>
