<template lang="pug">
  .home
    Jumbo(@open="setModal(true)")
    transition(name="modal")
      Modal(v-if="getModalStatus" @close="setModal(false)")
        a(slot="header" @click="setModal(false)") x


</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import Jumbo from '@/components/Jumbo.vue'
import Modal from '@/components/Modal.vue'

export default {
  name: 'home',
  components: {
    Jumbo,
    Modal
  },
  computed: {
    ...mapGetters([
      'getModalStatus'
    ])
  },
  methods: {
    ...mapActions([
      'setModal'
    ])
  }
}
</script>
<style lang="scss">

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}
</style>
