<template lang="pug">

  section.box-book
    .book-col
      .book-wrapper
        img(src="assets/img-book.png" alt="¿Por qué contamos historias?")
      .book-col-2
        h4 ¿Te gustan las historias y quieres aprender cómo contarlas?
        a.btn.btn-orange(href="assets/libro-laboratoriodeconteniodos-latercera.pdf" target="_blank") descárgalo acá

</template>

<script lang="js">
  export default  {
    name: 'box-book',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .box-book {
    background-color: white;
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    max-width: 250px;
    @media screen and (max-width: 860px){
      max-width: none;
      position: static;
      margin: 0 1rem;
    }
    .book-col{
      @media screen and (max-width: 860px){
        display: flex;
      }
    }
    .book-wrapper{
      position: relative;
      padding: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after{
        content: '';
        background: url(../../public/assets/img-shining.png) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        animation: sparkling 2s steps(2) infinite;
      }
      img{
        max-width: 80px;
      }
    }
  }
  @keyframes sparkling {
      50% {
        transform: rotateY(180deg);
      }
      100%{
        transition: rotateX(0)
      }
  }
  h4{
    font-size: 1rem;
    margin: 0.5rem;
  }
  .btn{
    padding: 1rem;
    text-decoration: none;
    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }
  .btn-orange{
    background-color: #ffa800;
    color: white;
    font-weight: bold;
    display: inline-block;
  }
</style>
