<template lang="pug">
  footer
    BoxBook

</template>

<script>
  import BoxBook from "./BoxBook"
  export default  {
    name: 'SiteFooter',
    components: {
      BoxBook,
    },
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  footer {

  }
</style>
