<template lang="pug">
  header
    Navigation
    h1.logo
      a(href="https://www.latercera.com/" target="_blank")
        img(src='assets/logo-laboratorio-de-contenidos-de-marca.svg')
</template>

<script>
  import Navigation from './Navigation.vue'
  export default  {
    name: 'SiteHeader',
    components: {
      Navigation
    },
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .logo{
    width: 190px;
    img{
      max-width: 100%;
    }
  }
</style>
