<template lang="pug">
  section.jumbo
    .wrap
      h2
        span Contáctanos.
      p
        span ‎Avenida Apoquindo 4660, ‎Las Condes‎, Santiago, Chile.
      p
        span
          a(href="mailto:felipe.delafuente@latercera.com?subject=Contacto Laboratorio de Contenidos") Mándanos un correo

</template>

<script>
  export default  {
    name: 'jumbo',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .jumbo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4rem;
    max-width: calc(100% - 4rem - 282px - 2rem);
    @media screen and (max-width: 860px){
      max-width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      position: static;
      min-height: 0;
    }
  }
  h2{
    font-size: 2.25rem;
    font-weight: normal;
    @media screen and (max-width: 860px){
      font-size: 1.2rem;
    }
    span{
      background-color: rgba(255,255,255,.7);
      padding: 6px 10px;
      line-height: 57px;
      @media screen and (max-width: 860px){
        line-height: 36px;
        background-color: white;
      }
    }
    small{
      font-family: "Open Sans", Helvetica, Arial, Helvetica, sans-serif;
      a{
        color: black;
      }
    }
  }
  .wrap{
    p{
      span{
        background-color: rgba(255,255,255,.7);
        padding: 6px 10px;
        line-height: 30px;
        @media screen and (max-width: 860px){
          line-height: 36px;
          background-color: white;
        }
      }
      a{
        color: black;
      }
    }
  }

</style>
