<template lang="pug">
  section.modal
    .modal-mask
      .modal-wrapper
        .modal-container
          .modal-header
            slot(name="header")
              a(@click="$emit('close')") x
          .modal-body
            slot(name="body")
              VideoPlayer(source="assets/main.mp4" poster="assets/poster.jpg")

          .modal-footer
            slot(name="footer")

</template>

<script>
  import VideoPlayer from './VideoPlayer'
  export default  {
    name: 'modal',
    components: {
      VideoPlayer
    },
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal-container {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  border-radius: 2px;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header{
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 2rem;
}

.modal-body {
  margin: 20px 0;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-default-button {
  float: right;
}


</style>
