<template lang="pug">
  nav
    router-link(to="/") Inicio
    router-link(to="/contacto") Contáctanos


</template>

<script>
  export default  {
    name: 'navigation',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  nav{
    position: relative;
    z-index: 2;
    display: block;
    margin-left: 3rem;
    @media screen and (max-width: 860px){
      margin-left: 0;
    }
    a{
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      text-decoration: none;
      padding-right: 1rem;

    }
  }
</style>
