<template lang="pug">
  section.video-player
    d-player(@play="play", :options="options" ref="player")
</template>

<script>
  import VueDPlayer from 'vue-dplayer'
  import 'vue-dplayer/dist/vue-dplayer.css'

  export default  {
    name: 'video-player',
    components: {
      'd-player': VueDPlayer
    },
    props: {
      source: {
        type: String
      },
    },
    mounted() {
      this.player = this.$refs.player.dp
      this.player.play()
    },
    data() {
      return {
        options: {
          video: {
            url: this.source,
            pic: this.poster
          },
          autoplay: false,
        }
      }
    },
    methods: {
      play() {
      },
    }
}
</script>

<style lang="scss">
  .video-player{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dplayer-video-wrap{
    video{
      position: static;
      visibility: visible;
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
      width: 100%;
    }

  }
</style>
