<template lang="pug">
  #app
    VideoBg(:sources="['assets/bg-sm.mp4']" img="assets/bg.jpg")
      Header
      transition(name="fade" mode="out-in")
        router-view
      Footer
</template>

<script>
import VideoBg from 'vue-videobg'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer,
    VideoBg
  }
}
</script>

<style lang="scss">
// @import '../node_modules/bootstrap/scss/bootstrap-grid.scss'; //contento? xD
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

body{
  margin: 0;
}

#app {
  font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  color: black;
  min-height: 100vh;
  padding: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
</style>
